/* HEADER SITE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px; 
}

/* CONFIGURAÇÃO LOGO */

.logo{
    width: 62%;
    padding-left: 5px;
}
.logo img{
    width: 210px;
}
.login{
    width: 1%;
    padding-right: 114px;
}

/* FIM DA CONFIGURAÇÃO LOGO */
/* CONFIGURAÇÃO NAVEGAÇÕES */
.menu{
    width: 70%;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-left: 80px;

}
.menu nav a{
    color: #303030; 
    text-decoration: none;
    padding-right: 20px;
    position: relative;
}
/* FIM CONFIGURAÇÃO NAVEGAÇÕES */
/* CONFIGURAÇÃO BOTÕES */
.botao{
    display: flex;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    background: #0a4e94;
    color: #ffffff;
    gap: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.botao:hover{
    transform: translate(2px, 0px);
    background: #0c5bac;
    box-shadow: 0px 0px 0px 0px #0a4e94,inset 0px 3px 3px#0a4e94;
}
/* FIM CONFIGURAÇÃO BOTÕES */


.flex{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
    margin: 0;
    flex-direction: row;
    padding-top: 10px;
}

.quadro {
    border: 1px solid #ccc;
    padding: 20px 40px;
    border-radius: 10px;
    position: relative;
    background-color: #f7f7f7;
    margin: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txt{
    width: 350px;
}

.txtsub{
    align-items: center;
    justify-content: center;
    position: flex;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #303030; 
}

.textarea{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #303030; 
}

input[type=text]{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

input[type=email]{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

input[type=number]{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

input[type=text]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid #990000;
}

input[type=email]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid #990000;
}

input[type=number]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid #990000;
}


input[type=submit] {
    background: #006699;
    color: #ffffff;
}
/* Estilo para os campos de entrada */
.quadro input[type="text"] {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quadro input[type="email"] {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quadro input[type="number"] {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao2d{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.botao2{
    display: flex;
    padding: 10px 23px;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.2px;
    background: #0a4e94;
    color: #ffffff;
    gap: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.botao2:active{
    transform: translate(0px, 3px);
    background: #0c5bac;
    box-shadow: 0px 0px 0px 0px #0a4e94,inset 0px 3px 3px#0a4e94;
}